* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    height: 100%;
    width: 100%;
}

.imagecontainer {
    height: 100vh;
    width: 38vw;
    background-image: url(side_image.jpeg);
    background-size: cover;
}

.formcontainer {
    height: 100vh;
    width: 62vw;
    overflow: hidden;
}

.logobar {
    width: 100%;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.55);
    margin-top: 75px;
    justify-content: center;
    display: flex;
}

@font-face {
    font-family: "Norse"; 
    src: url("//db.onlinewebfonts.com/t/7d460b18433753a097e5bc2bad7c8dd9.eot"); 
    src: url("//db.onlinewebfonts.com/t/7d460b18433753a097e5bc2bad7c8dd9.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/7d460b18433753a097e5bc2bad7c8dd9.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/7d460b18433753a097e5bc2bad7c8dd9.woff") format("woff"), url("//db.onlinewebfonts.com/t/7d460b18433753a097e5bc2bad7c8dd9.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/7d460b18433753a097e5bc2bad7c8dd9.svg#Norse") format("svg"); 
}

.odinlogo {
    height: 100%;
    width: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.odinlogo img {
    height: 130px;
}

.odinlogo p {
    font-family: 'Norse', sans-serif;
    color: white;
    font-size: 6em;
    margin-top: 20px;
}

.top {
    background-color: #f8f8ff;
    width: 100vw;
    height: 36%;
}

.top p {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 45px;
}

#main_text {
    padding-top: 170px;
}

input {
    display: block;
    width: 250px;
    height: 30px;
    border-color: #E5E7EB;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
}

label {
    font-family: Veggieburger;
    margin-top: 25px;
    display: block;
    color: darkslategray;
}

#form_text {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

.middle {
    margin-top: 18px;
    padding-left: 50px;
    width: 100vw;
    height: 28%;
    box-shadow: 0 4px 3px -2px gray;
}

.bottom {
    background-color: #f8f8ff;
    width: 100vw;
    height: 36%;
    margin-top: 3px;
}

#button {
    margin-top: 35px;
    margin-left: 50px;
    margin-bottom: 30px;
    width: 220px;
    height: 50px;
    border-radius: 5px;
    color: white;
    background-color: #596D48;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.bottom p {
    margin-left: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.bottom a {
    color: #596D48;
    font-weight: bold;
    text-decoration: none;
}

form {
    display: flex;
}

.form_left {
    position: absolute;
    margin-top: 20px;
}

.form_right {
    position: relative;
    left: 15%;
    margin-top: 20px;
}

input:focus {
    border-color: blue;
    box-shadow: 0 5px 4px -4px gray;
    outline: none;
    border-width: 1.2px;
}

.error:invalid {
    border-color: red;
}